<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReliakTimer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ReliakTimer.Properties.Settings>
            <setting name="MinimizeOnTimerStart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaySoundWhenComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WorkTimeInMinutes" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="BreakTimeInMinutes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LoopTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashWindowWhenComplete" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LoopSound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStartTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TopMost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartUpLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="PopupWindowWhenComplete" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseCompactMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SnapWindow" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WorkBackgroundColor" serializeAs="String">
                <value>#FFFFB647</value>
            </setting>
            <setting name="BreakBackgroundColor" serializeAs="String">
                <value>#FF9AC5D1</value>
            </setting>
            <setting name="WorkTextColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="BreakTextColor" serializeAs="String">
                <value>#FF000000</value>
            </setting>
            <setting name="TextFontName" serializeAs="String">
                <value>Arial</value>
            </setting>
            <setting name="TextFontSize" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0,0</value>
            </setting>
            <setting name="ShowStarterInfo" serializeAs="String">
                <value>True</value>
            </setting>
        </ReliakTimer.Properties.Settings>
    </userSettings>
</configuration>